/* inscripcion */
section.formulario {
    

}

section.formulario .formulario-container {
    background: var(--color_oscuro);
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    padding: 0;
    padding-bottom: 5px;
    color: rgb(7, 7, 7);
    background-color: lightblue;       
}

section.formulario .formulario-container h2 {
    color: rgb(10, 10, 10);
    background: var(--color_oscuro);
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0!important;
    background-color: lightseagreen;  
}

section.formulario .input-group {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

section.formulario .input-group>label[for="id_categoria"] {
    position: absolute;
    display: none;
}

section.formulario .input-group>input {
    width: 80%;
    max-width: 80%;
    padding-left: 10%;
}

section.formulario button {
    color: black;
    background: var(--color_oscuro);
    background-color: lightseagreen;
    border: none;
    margin: auto;
    font-size: 1.1em;
    padding: 7px 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}

section.formulario a.signup {
    color: #ddd;
    display: block;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 7px;
}

section.formulario a.signup:hover,
section.formulario button:hover {
    opacity: 0.9;
    text-decoration: none;
}

.formulario-overlay {
    background: #00000075;
    display: block;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 0;
    position: absolute;
    top: 60px;
}

.formulario-overlay-ignore {
    z-index: 1;
    position: absolute;
    width: 100%;
}

section.formulario .respuesta-container {
    background: #c3ccd1;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 0;
    z-index: 1;
    color: rgb(7, 7, 7);
}

.formulario {
    margin-top: 25px;
}

.formulario label{
    width: 40%;
    margin-left: 5%;
    font-size: 1em;
    margin-bottom: 15px;
    color: black;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;   
}

.formulario label.alinear{
    width: 25%;
}

.formulario input, select {
    width: 50%;
    margin-bottom: 15px;
}

.formulario select {
    width: 50%;
}

.formulario select.alinear {
    width: 15%!important;
    white-space: nowrap;
} */

/* Adaptaciones por tipo de input */
.formulario input[type=file] {
    padding-right: 25%!important;
    width: 50%;
}

.formulario input[type=checkbox] {
    
}

.formulario ul{
    list-style: none;
}

.formulario textarea {
    height: 250px;
    width: 50%;
    margin-bottom: 10px;
}

.formulario p.error {
    color: white;
    font-weight: lighter;
    width: 100%;
    text-align: center;

}

.tinymce {
    margin-right: 10px;
    margin-bottom: 10px;
} */


/* Reutilizables */

.no-padding {
    padding: 0!important;
}

.enlinea {
    display: inline-flex;
} */

/* Multiple Choice */
.multiplechoice {

    margin-left: -50px;
    padding: 0!important;
    list-style: none;


}

.multiplechoice li{
    display:block;
}

.multiplechoice li label{
    min-width: 50%;
    overflow: initial;
    text-overflow: initial;
    margin-bottom: 0px;
} */

/* Errores */
.errorlist {
    list-style: none;
    font-weight: bold;
    font-size: 1em;
}

/* FORMULARIOS CUSTOM */
.formulario_custom {
    background: var(--color_claro);
    margin: 35px;
    border: 2px solid var(--color_oscuro);
    border-radius: 15px;
    color: rgb(7, 7, 7);
    padding: 15px;
}

.formulario_custom h2 {

}

.formulario_custom p.campo {
    width: 100%;
} */

.campo label {
    width: 30%;
    font-weight: normal;
}

.campo select {
    width: auto!important;
}

.campo input {
    width: 60%;
}

p.definicion {
    font-size: 1em;
}

.grupo {
    border: 1px solid var(--color_oscuro);
    border-radius: 15px;
    padding: 10px;
}