{% load static %}
{% load form_tags %}

{% block custom_head %}

<head>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        @media screen and (max-width: 720px){
            .page-wrapper {
              width: 100%;
            }
        }
    </style>    
</head>



{% endblock %}

{% block content %}

{% comment %}
    <section class="formulario">
        <section class="formulario-container">
            <h2>{{titulo}}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    
                    {% abrir_alineado form field as abrir %}
                    {% if abrir %}
                        <div class="row">
                    {% endif %}

                        {% calcular_ancho form field as ancho %}
                        <div class="col-sm-{{ancho}} no-padding enlinea">
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>

                    {% cerrar_alineado form field as cerrar %}
                    {% if cerrar %}
                        </div>
                    {% endif %}
                
                {% endfor %}
                <br>
                {% for error in form.non_field_errors %}
                    <p class="error">
                        {{error|escape}}
                    </p>
                {% endfor %}
                {% if message %}
                    <p>{{message}}</p>
                {% endif %} 
                <br>
                <button type="submit">{{boton}}</button>
            </form>
        </section>
    </section>
{% endcomment %}

<div class="limiter">    
    <div class="container-login100">
        <div class="wrap-login100">            
            <form class="login100-form validate-form" method="post" enctype="multipart/form-data" onSubmit="return validar();" id="formjquery">
                {% csrf_token %}
                <span class="login100-form-title p-b-26">
                {{titulo}}                   
                </span>
                <span class="login100-form-title p-b-48">                    
                    <i class="zmdi zmdi-font"></i>
                </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="tarjeta" required id="id_tarjeta" placeholder="INGRESE SU TARJETA">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">                    
                    <input class="input100" type="text" name="dni" required id="id_dni" placeholder="INGRESE SU DNI">
                    <span class="focus-input100"></span>
                </div>
                <br>
                {% for error in form.non_field_errors %}
                    <p class="error">
                        {{error|escape}}
                    </p>
                {% endfor %}
                {% if message %}
                    <p>{{message}}</p>
                {% endif %} 
                <br>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button type="submit" class="login100-form-btn">
                            {{boton}}
                        </button>
                    </div>
                </div>               
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

{% endblock %}

  

<script>
    function validar(){
        
        //Almacenamos los valores
        tarjeta=$('#id_tarjeta').val();               
        
       //Comprobamos la longitud de caracteres
        if (tarjeta.length == 9){
            return true;
        }
        else {
            alert('Debe ingresar los últimos 9 caracteres de su tarjeta');
            return false;
            
        }        
    }
</script>






