{% extends 'base.html' %}

{% block content %}

<!-- Header - set the background image for the header in the line below -->
<!-- <header class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/cabecera.jpg');">
<div style="height: 300px;"></div> -->
<!--<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">-->
</header>
    <div class="alert alert-danger" role="alert">
        <h3>¡IMPORTANTE! ESTE TRÁMITE ES PARA LOS BENEFICIARIOS QUE YA SE HAN INSCRIPTO ANTERIORMENTE Y QUE CUENTAN CON LA TARJETA ACTIVA.</h3> 
        <br>
        <h2><center>INGRESE LOS ÚLTIMOS 9 DÍGITOS DE SU TARJETA</center></h2>   
    </div>
    {% include 'extras/generic_form-nobase.html' %}

{% endblock %}