<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "base/head.html" %}
    {% block custom_head %}
    {% endblock %}
  </head>
  <body id="body">
    <div class="page-wrapper">
      {% include "base/menu.html" %}
      {% include "base/header.html" %}
      <main>
      
        {% block content %}
        <!-- Aqui ingresa el codigo operativo de la view llamada -->
        {% endblock %}
      
      </main>
      {% include "base/footer.html" %}
    </div>
    {% include "base/scripts.html" %}

    {% block custom_script %}
        
    {% endblock %}
  </body>
</html>