{% extends 'base.html' %}
{% block content %}


    {% if form %}
        <div class="form-style-8">
            <div class="alert alert-danger" role="alert">
                <h3>¡IMPORTANTE! ESTE TRÁMITE ES PARA LOS BENEFICIARIOS QUE YA SE HAN INSCRIPTO ANTERIORMENTE Y QUE CUENTAN CON LA TARJETA ACTIVA.</h3> 
                <h3> PRIMERO EDITE SUS DATOS PERSONALES, LUEGO LLENE LOS DATOS DE SUS FAMILIARES DE UNA SOLA VEZ.</h3>      
            </div>
            {% if message %}
                <p>{{message}}</p>
            {% endif %}

            {% comment %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} 
                {{ formset2.management_form }}
                {{ formset.management_form }}
            {% endcomment %}

                {% comment %}
                    {% for field in form %}
                        <div class="input-group">
                            <p>{{ field.label_tag }} {{ field }}</p>
                            {% for error in field.errors %}
                                <p style="color:black">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endcomment %}
            <form name="contact_form" class="default-form contact-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset2.management_form }}
                {{ formset.management_form }}
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="{{form.tarjeta.id_for_label}}">{{form.tarjeta.label}}</label>
                            {{form.tarjeta}}
                            <small class="form-text text-danger">{{form.tarjeta.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.dni.id_for_label}}">{{form.dni.label}}</label>
                            {{form.dni}}
                            <small class="form-text text-danger">{{form.dni.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.cuil.id_for_label}}">{{form.cuil.label}}</label>
                            {{form.cuil}}
                            <small class="form-text text-danger">{{form.cuil.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.apellidos.id_for_label}}">{{form.apellidos.label}}</label>
                            {{form.apellidos}}
                            <small class="form-text text-danger">{{form.apellidos.errors.as_text}}</small>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="{{form.nombres.id_for_label}}">{{form.nombres.label}}</label>
                            {{form.nombres}}
                            <small class="form-text text-danger">{{form.nombres.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.tel_celular.id_for_label}}">{{form.tel_celular.label}}</label>
                            {{form.tel_celular}}
                            <small class="form-text text-danger">{{form.tel_celular.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.tel_fijo.id_for_label}}">{{form.tel_fijo.label}}</label>
                            {{form.tel_fijo}}
                            <small class="form-text text-danger">{{form.tel_fijo.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                            {{form.email}}
                            <small class="form-text text-danger">{{form.email.errors.as_text}}</small>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="{{form.fecha_nacimiento.id_for_label}}">{{form.fecha_nacimiento.label}}</label>
                            {{form.fecha_nacimiento}}
                            <small class="form-text text-danger">{{form.fecha_nacimiento.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.localidad.id_for_label}}">{{form.localidad.label}}</label>
                            {{form.localidad}}
                            <small class="form-text text-danger">{{form.localidad.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.direccion_calle.id_for_label}}">{{form.direccion_calle.label}}</label>
                            {{form.direccion_calle}}
                            <small class="form-text text-danger">{{form.direccion_calle.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.direccion_numero.id_for_label}}">{{form.direccion_numero.label}}</label>
                            {{form.direccion_numero}}
                            <small class="form-text text-danger">{{form.direccion_numero.errors.as_text}}</small>
                        </div>                        
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="{{form.direccion_barrio.id_for_label}}">{{form.direccion_barrio.label}}</label>
                            {{form.direccion_barrio}}
                            <small class="form-text text-danger">{{form.direccion_barrio.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.direccion_manzana.id_for_label}}">{{form.direccion_manzana.label}}</label>
                            {{form.direccion_manzana}}
                            <small class="form-text text-danger">{{form.direccion_manzana.errors.as_text}}</small>
                        </div>
                        <div class="form-group">
                            <label for="{{form.direccion_lote.id_for_label}}">{{form.direccion_lote.label}}</label>
                            {{form.direccion_lote}}
                            <small class="form-text text-danger">{{form.direccion_lote.errors.as_text}}</small>
                        </div>                                                
                    </div>
                </div>               
                
                
                
                <table id="customers" class="tabla_conyuges">
                <caption>Ingrese Conyuge(ex-conyuges)</caption>
                    
                    {% for form2 in formset2 %}
                        {{ form2.id }}
                        {% if forloop.first %}
                            <tr>
                                {% for field in form2 %}
                                    {% if field.name != 'id' %}
                                        {% if field.name != 'beneficiario' %}
                                            <td>{{ field.label_tag }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        <tr>
                            {% for field in form2.visible_fields %}
                            <td>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                            </td>
                            {% endfor %}
                            <!-- <td>
                                <a href="
                                    {%for field in form2 %}
                                        {% if field.name == 'id' %}
                                            {{field.value}}
                                        {%endif%}
                                    {%endfor%}
                                ">
                                    <img src="/static/admin/img/icon-deletelink.svg" alt="Eliminar">
                                </a>
                            </td> -->
                        </tr>
                    {% endfor %}
                    <tr class="add-row"><td colspan="9"><a href="">Agregar otro/a Cónyuge</a></td></tr> 
                </table>      
                
                
                
                               
                <table id="customers" class="tabla_familiares">
                <caption>Ingrese Familiar</caption>
                    
                    {% for form in formset %}
                        {{ form.id }}
                        {% if forloop.first %}
                            <tr>
                                {% for field in form %}
                                    {% if field.name != 'id' %}
                                        {% if field.name != 'beneficiario' %}
                                            <td>{{ field.label_tag }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                        <tr>
                            {% for field in form.visible_fields %}
                            <td>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                            </td>
                            {% endfor %}
                            <!-- <td>
                                <a href="
                                    {%for field in form %}
                                        {% if field.name == 'id' %}
                                            {{field.value}}
                                        {%endif%}
                                    {%endfor%}
                                ">
                                    <img src="/static/admin/img/icon-deletelink.svg" alt="Eliminar">
                                </a>
                            </td> -->
                        </tr>
                    {% endfor %}
                     <tr class="add-row"><td colspan="9"><a href="">Agregar otro/a Familiar</a></td></tr> 
                </table>

                <br>

                <div class="row spacer">
                    <div class="col-4 offset-2">
                        <button type="submit" class="btn btn-block btn-primary">Guardar Cambios</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}



<script type="text/javascript">
//auto expand textarea
    function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
    }
    
</script>




