{% extends 'base.html' %}
{% load static %}

{% block custom_head %}

<head>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        @media screen and (max-width: 720px){
            .page-wrapper {
              width: 100%;
            }
        }
    </style>    
</head>

{% endblock %}

{% block content %}
<div class="container">
    <center><img src="{% static 'img/consultas.jpeg' %}" class="img-responsive" style="width:600px !important; height:750px !important" alt=""></center>
</div>
{% endblock %}