{% extends 'base.html' %}
{% load static %}

{% block custom_head %}

<head>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        @media screen and (max-width: 720px){
            .page-wrapper {
              width: 100%;
            }
        }
    </style>    
</head>

{% endblock %}

{% block content %}
<style>
body {
  padding-top: 56px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media screen and (max-width: 720px){
  .page-wrapper {
    width: 100%;
  }
}

</style>
<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/cabecera.jpg');">
  <div style="height: 300px;"></div>
  <!--<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">-->
</header>


<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1><strong>¿Que es la Tarjeta (PLA.SO.NU.P.).?</strong></h1>
    <p class="lead">Está destinada a personas que se encuentran en situación de vulnerabilidad social y nutricional </p>
  </div>
</section>

 <!-- Content section -->
<section class="py-5">
  <div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a href="/completar">
              <div class="alert alert-danger" role="alert">
                <h3>¡IMPORTANTE! USTED TIENE 10 DÍAS PARA REEMPADRONARSE, DE LO CONTRARIO PIERDE EL BENEFICIO.</h3>               
              </div>
              <h1><strong>Actualice sus datos</strong></h1>
              <p class="lead" ALIGN="justify"> Usted debe agregar sus datos personales y el de sus familiares para reempadronarse. Sólo le llevará unos minutos. Se lo agradecemos. HAGA CLICK <strong>AQUÍ.</strong></p>
            </a>                        
        </div>            
      
    </div>
  </div>
</section>  

<section class="py-5">
  <div class="container">
    <div class="row">
      <a href="consultas/">
        <div class="alert alert-info" role="alert">
          <h3 ALIGN="justify">NOTA: SI USTED DESEA REALIZAR ALGUNA CONSULTA SOBRE EL REEMPADRONAMIENTO, O ESCRIBIRNOS SOBRE EL MOTIVO DEL RECHAZO DE SU PEDIDO PUEDE COMUNICARSE CON NOSOTROS POR LOS MEDIOS QUE SE INDICAN AL HACER CLICK SOBRE ESTE RECUADRO O HACIENDO CLICK EN EL BOTÓN CONSULTA QUE SE ENCUENTRA EN LA PARTE SUPERIOR DERECHA DE ESTA PÁGINA. HAGA CLICK <strong>AQUÍ.</strong></h3>
        </div>
      </a> 
    </div>
  </div>
</section>


<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/tarjeta.jpg');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 300px;"></div>
</section>
<section class="py-5">
  <div class="container">
    <h1><strong>¿Donde se implementa?</strong></h1>
    <p>La Tarjeta PLASONUP se implementa en las localidades de San Salvador de Jujuy, Palpalá, Perico y Monterrico, para titulares del programa Comer en Casa. Mientras que en el resto de las localidades de la provincia, continúa en forma simultánea el sistema de entrega directa de Unidades Alimentarias.</p>
  </div>
  <!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('{% static 'img/lugaress.jpg' %}');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 350px;"></div>
</section>
</section>
<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1><strong>¿Donde se puede utilizar?</strong></h1>
    <p>La tarjeta se puede utilizar en todos aquellos comercios adheridos a la red MasterCard y tienen hasta 20 días después de la acreditación para realizar la compra de productos alimentarios unicamente, presentando su Documento Nacional de Identidad.</p>
    <p>La tarjeta es intransferible.</p> 
    <p>Para consulta de saldos, extravío y/o robo se pueden comunicar al <b> 0810-666-4803.</b></p>
 
  </div>
  
</section>
  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/instransferible.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 300px;"></div>
  </section>
  
  <section class="py-5">
    <div class="container">
      <h1><strong>¿Que es el programa “Comer en Casa” del Plan Social Nutricional Provincial (PLA.SO.NU.P.).?</strong></h1>
      <p class="lead">Está destinada a personas que se encuentran en situación de vulnerabilidad social y nutricional </p>
      
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <h1><strong>¿Quiénes son los Destinatarios</strong></h1>
      <ul>
        <li>Personas de 18 años en adelante, desocupada o con trabajo inestable que tenga carga familiar (que tenga hijos).</li>
        <li>Personas con discapacidad con o sin beneficio social que cobre la pensión mínima.</li>
        <li>Personas menores de 18 años con carga familiar (que tengan hijos).</li>
        <li>Jubilados y pensionados que no superen el monto mínimo de la jubilación.</li>
        <li>No contar con más de dos propiedades inmuebles.</li>
        <li>No contar con auto.</li>
      </ul>
   
    </div>
    
  </section>
<section class="py-5">
  <div class="container">
    <h1><strong>¿Cuales son los requisitos?</strong></h1>
    <ul>
      <li>Fotocopia de DNI del solicitante, conyugue, hijos e hijas y/o personas a cargo.</li>
      <li>Certificado de negatividad de ANSES (del solicitante, conyugue y adultos convivientes).</li>
      <li>Documentación que acredite parentesco con el grupo familiar convivientes (fotocopia de DNI de niños, niñas y personas a cargo o certificado de nacimiento).</li>
      <li>Certificado de Residencia y Convivencia que establezca el domicilio real a consignar en el sistema.</li>
      <li>En caso de presentar problemas de salud de enfermedades crónicas, adjuntar copia de certificado o tratamiento médico correspondiente.</li>
      <li>Personas con discapacidad deben presentar el Certificado de Discapacidad (CUD).</li>
    </ul>
  </div>
</section>


  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/footer.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 350px;"></div>
  </section>

{% endblock %}