{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="centrado">
        <h1>Ingrese los datos del beneficiario: INGRESAR LOS ULTIMOS 7 DIGITOS DE SU TARJETA</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}            
            {% for field in form %}
                <div class="input-group">
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                    <p style="color:black">{{ error }}</p>
                {% endfor %}
                </div>
            {% endfor %}
            {% if message %}
                <p>{{message}}</p>
            {% endif %}            
            <button type="submit" class="btn btn-block btn-primary">Buscar Beneficiario</button>
        </form>
    </div>    
</div>
{% endblock %}

