{% load static %}
{% block content %}
  <footer id="pie">
    <div class="social">

    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-3">
        <a href="#">
        <img class="logo_unif" src="{% static 'img/logo_unif.png' %}" class="logo" style="margin-top: 10px; float: right;"/>
        </a>
      </div>
    </div>
  </footer>
{% endblock %}