{% load static %}
{% block content %}  
    <meta charset="utf-8">
    <title>{% block title %}plasonup{% endblock %}</title>
    
    {% if refresh %}<meta http-equiv="refresh" content="{{refresh}}"/>{%endif%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic_form.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>    
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}">
    <!-- Forms -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />   
    <link rel="stylesheet" type="text/css" href="{% static 'css/customers.css' %}" />
    {% if form %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.maxlength.css' %}" />
    {% endif %}   
    
    <style type="text/css">
      @font-face {
        font-family: Archia;
        font-weight: normal;
        src: url({% static 'fonts/Archia-Regular.otf' %}) format('truetype');
        src: local({% static 'fonts/Archia-Regular.otf' %}) format('truetype');
     }
      @font-face {
        font-family: Archia;
        font-weight: bold;
        src: url({% static 'fonts/Archia-Bold.otf' %}) format('truetype');
        src: local({% static 'fonts/Archia-Bold.otf' %}) format('truetype');
     }
      @font-face {
        font-family: Archia;
        font-weight: lighter;
        src: url({% static 'fonts/Archia-Thin.otf' %}) format('truetype');
        src: local({% static 'fonts/Archia-Thin.otf' %}) format('truetype');
     }
    </style>
  
{% endblock %}