{% load static %} 

{% block content %}
<div class="portada">
   <!---- <img src="{% static 'img/logo.png' %}" alt="LogoSistema">
    {% if titulo_header %}
        <h1>{{titulo_header}}</h1>
    {% else %}
        <h1>Gobierno TV</h1>
    {% endif %}
    <div class="mobile">
        <img src="{% static 'img/logo.png' %}" alt="">
    </div>-->
</div>
{% endblock %}