{% block content %}
    <li><a href="/">Inicio</a></li>
    <li><a href="http://prensa.jujuy.gob.ar/">Novedades</a></li>
    <li><a href="{% url 'core:get_consultas' %}" class="btn btn-primary">Consultas</a></li>

    {% if user.is_staff %}
        <li><a href="download_beneficiarios/" class="btn btn-success">Beneficiarios</a></li>
        <li><a href="download_familiares/" class="btn btn-danger">Familiares</a></li>
        <li><a href="download_conyuges/" class="btn btn-info">Conyuges</a></li>
        <li><a href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}