{% load static %}
{% block content %}
    <scripts>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>        
        <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/change_links.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/date.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/type.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/numeric.js' %}"></script>    
        {% if form %}
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.maxlength.js' %}"></script>           
        {% endif %}       
    </scripts>
{% endblock %}